<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inhuman.scanner.stokopname">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.inhuman.scanner.stokopname.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inhuman.scanner.stokopname.ProfileActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.MainActivity" />
        <activity
            android:name="com.inhuman.scanner.stokopname.HomeActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.MainActivity" />
        <activity
            android:name="com.inhuman.scanner.stokopname.ScannerActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.MainActivity" />
        <activity
            android:name="com.inhuman.scanner.stokopname.SettingActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.MainActivity" />
        <activity
            android:name="com.inhuman.scanner.stokopname.StokActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.MainActivity" />
        <activity android:name="com.inhuman.scanner.stokopname.CameraActivity"
            android:parentActivityName="com.inhuman.scanner.stokopname.ScannerActivity" ></activity>
    </application>

</manifest>